:root {
  --colour-primary-default: #c44435;
  --colour-dark-accent-default: #d89f4a;
  --colour-light-accent-default: #ca9ca2;
  --colour-light-shade-default: #f9f7f6;
  --colour-dark-shade-default: #262333;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--colour-dark-shade-default);
}

.title {
  color: var(--colour-light-shade-default);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
